# Ignore FocusShield Extension folder (only compiled and updated to Chrome Web Store)
focusshield/

# Ignore local environment variables and system files
.env
.env.local
.gemini/
*.log
node_modules/
.DS_Store
